Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json

[Increment version api api-release-v1.0.36]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add requests
  apps/backoffice/proxy.conf.json
  apps/backoffice/src/app/app.module.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.spec.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

complete models
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/health-status.entity.ts
  apps/api/src/app/entities/parasite-medicine-treatment.entity.ts
  apps/api/src/app/entities/pet-responsible-organisation.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/entities/vacination.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.37]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.23]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

add examples
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/entities/base.entity.ts
  apps/api/src/app/entities/catch-information.entity.ts
  apps/api/src/app/entities/health-status.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/services/common/common.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.38]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: add date-range component as controlValueAccessor
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/date-range/date-range.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/date-range/date-range.component.scss
  apps/backoffice/src/app/pet/pet-filters/pet-filters/date-range/date-range.component.spec.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/date-range/date-range.component.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/services/filter-resolver.service.ts
  apps/backoffice/tslint.json
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.24]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

fix: add label to date-range
  apps/backoffice/src/app/pet/pet-filters/pet-filters/date-range/date-range.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/date-range/date-range.component.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.25]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

change size enum
  apps/api/src/app/entities/dictionaries/breed.entity.ts
  apps/api/src/app/entities/dictionaries/color.entity.ts
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
  apps/api/src/app/entities/dictionaries/wool.entity.ts
  apps/api/src/app/entities/pet-registration-history.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.39]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.26]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.18]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

fix place
  apps/api/src/app/entities/pet.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.40]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add pets state
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/app/pet/pet-filters/services/filter-resolver.service.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/pet/store/pets.actions.ts
  apps/backoffice/src/app/pet/store/pets.state.model.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
  apps/backoffice/src/app/shared/pagination.ts
  apps/backoffice/src/app/shared/store.status.enum.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.27]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

add pet sizes
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.28]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

change labelId type
  apps/api/src/app/entities/pet.entity.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.41]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.29]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.19]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add selectors for pet state
  apps/backoffice/src/app/pet/store/pets.selectors.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.30]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: add number-range filter
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/date-range/date-range.component.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/number-range/number-range.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/number-range/number-range.component.scss
  apps/backoffice/src/app/pet/pet-filters/pet-filters/number-range/number-range.component.spec.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/number-range/number-range.component.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/services/filter-resolver.service.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.31]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

add pets table
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.scss
  apps/backoffice/src/app/pet/pet-list/pet-list.component.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.32]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

fix user entity
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.42]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add action for change view type
  apps/backoffice/src/app/pet/store/pets.actions.ts
  apps/backoffice/src/app/pet/store/pets.state.model.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
  apps/backoffice/src/app/shared/view-type.enum.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.33]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: add theme for angular material
  apps/backoffice/src/assets/scss/main/colors.scss
  apps/backoffice/src/assets/scss/main/layouts.scss
  apps/backoffice/src/assets/scss/theming.scss
  apps/backoffice/src/styles.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.34]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

implement auth
  apps/api/src/app/app.config.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/authentication/authentication.module.ts
  apps/api/src/app/authentication/constants/auth-strategies.enum.ts
  apps/api/src/app/authentication/constants/permissions.const.ts
  apps/api/src/app/authentication/constants/permissions.enum.ts
  apps/api/src/app/authentication/controllers/base-auth.controller.ts
  apps/api/src/app/authentication/controllers/user.controller.ts
  apps/api/src/app/authentication/dto/refresh-token-request.dto.ts
  apps/api/src/app/authentication/dto/sign-in-request.dto.ts
  apps/api/src/app/authentication/dto/sign-in-response.dto.ts
  apps/api/src/app/authentication/dto/sign-up-request.dto.ts
  apps/api/src/app/authentication/dto/tokens.dto.ts
  apps/api/src/app/authentication/dto/user-data-response.dto.ts
  apps/api/src/app/authentication/entity/refresh-token.entity.ts
  apps/api/src/app/authentication/guards/access-token.guard.ts
  apps/api/src/app/authentication/guards/refresh-token.guard.ts
  apps/api/src/app/authentication/interfaces/permissions.type.ts
  apps/api/src/app/authentication/services/jwt-sign.service.ts
  apps/api/src/app/authentication/services/local-sign.service.ts
  apps/api/src/app/authentication/services/permissions.service.ts
  apps/api/src/app/authentication/services/user.service.ts
  apps/api/src/app/authentication/strategies/access-token.strategy.ts
  apps/api/src/app/authentication/strategies/refresh-token.strategy.ts
  apps/api/src/app/authentication/validators/user-email-exist.validator.ts
  apps/api/src/app/authentication/validators/user-login-exist.validator.ts
  apps/api/src/app/authentication/validators/user-not-found-validator.service.ts
  apps/api/src/app/authentication/validators/user-phone-exist.validator.ts
  apps/api/src/app/common/decorators/method-decorators/real-ip.decorator.ts
  apps/api/src/app/common/decorators/method-decorators/user.decorator.ts
  apps/api/src/app/common/decorators/method-decorators/useragent.decorator.ts
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/user.entity.ts
  apps/api/src/main.ts
  config/api/.development.env
  libs/types/src/lib/types.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

wip parsing dataset
  apps/api/src/app/entities/pet-responsible-organisation.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

[Increment version api api-release-v1.0.43]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api
