Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json

Complete dictionary controllers
  apps/api/src/app/controllers/dictionaries/all.dictionary.controllers.ts
  apps/api/src/app/controllers/dictionaries/breed.controller.ts
  apps/api/src/app/controllers/dictionaries/color.controller.ts
  apps/api/src/app/controllers/dictionaries/ear.controller.ts
  apps/api/src/app/controllers/dictionaries/tail.controller.ts
  apps/api/src/app/controllers/dictionaries/wool.controller.ts
  apps/api/src/app/services/dictionaries/all.dictionary.services.ts
  apps/api/src/app/services/dictionaries/ear.service.ts
  apps/api/src/app/services/dictionaries/tail.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.12]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

implement dictionaries and fix models
  angular.json
  apps/api/src/app/entities/base.entity.ts
  apps/api/src/app/entities/dictionaries/breed.entity.ts
  apps/api/src/app/entities/dictionaries/color.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/entities/user.entity.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.13]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.9]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.9]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

remove user update by
  apps/api/src/app/entities/base.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.14]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

fix models
  apps/api/src/app/entities/dictionaries/breed.entity.ts
  apps/api/src/app/entities/dictionaries/color.entity.ts
  apps/api/src/app/entities/dictionaries/wool.entity.ts
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.15]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

stable pet model
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.16]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add services and controllers for base entities, minor refactoring
  apps/api/src/app/app.module.ts
  apps/api/src/app/controllers/all.controllers.ts
  apps/api/src/app/controllers/dictionaries/ear.controller.ts
  apps/api/src/app/controllers/dictionaries/tail.controller.ts
  apps/api/src/app/controllers/dictionaries/wool.controller.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/controllers/shelter.controller.ts
  apps/api/src/app/controllers/user.controller.ts
  apps/api/src/app/services/all.services.ts
  apps/api/src/app/services/pet.service.ts
  apps/api/src/app/services/shelter.service.ts
  apps/api/src/app/services/user.service.ts
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.17]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.10]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.10]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Fix shelter entity bug
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/shelter.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.18]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add swagger tags
  apps/api/src/app/controllers/dictionaries/breed.controller.ts
  apps/api/src/app/controllers/dictionaries/color.controller.ts
  apps/api/src/app/controllers/dictionaries/ear.controller.ts
  apps/api/src/app/controllers/dictionaries/tail.controller.ts
  apps/api/src/app/controllers/dictionaries/wool.controller.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/controllers/shelter.controller.ts
  apps/api/src/app/controllers/user.controller.ts
Due: increment-version-api

feat: add auth module and login component
  apps/backoffice/src/app/app-routing.module.ts
  apps/backoffice/src/app/auth/auth.module.ts
  apps/backoffice/src/app/auth/login/login.component.html
  apps/backoffice/src/app/auth/login/login.component.scss
  apps/backoffice/src/app/auth/login/login.component.spec.ts
  apps/backoffice/src/app/auth/login/login.component.ts
  apps/backoffice/src/app/layout/layout.component.html
  apps/backoffice/src/styles.scss
Due: increment-version-backoffice

[Increment version api api-release-v1.0.19]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.11]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add typeorm script, skip ci
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.20]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.12]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.11]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Add typeorm script, skip ci
  ormconfig.js
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.21]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.13]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.12]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add Pet card template
  apps/api/src/app/templates/pet-card.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

change build to commonjs
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/organization.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/entities/trustee.entity.ts
  tsconfig.base.json
Due: increment-version-api

[Increment version api api-release-v1.0.22]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix controllers paths
  apps/api/src/app/controllers/dictionaries/breed.controller.ts
  apps/api/src/app/controllers/dictionaries/color.controller.ts
  apps/api/src/app/controllers/dictionaries/ear.controller.ts
  apps/api/src/app/controllers/dictionaries/tail.controller.ts
  apps/api/src/app/controllers/dictionaries/wool.controller.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/controllers/shelter.controller.ts
  apps/api/src/app/controllers/user.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.23]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version api api-release-v1.0.24]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.14]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.13]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Add init migration
  apps/api/src/app/app.config.ts
  apps/api/src/app/migrations/1604125399018-initMigration.ts
  apps/api/src/app/migrations/all.migrations.ts
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.25]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api
