Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json

[Increment version api api-release-v1.0.107]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.96]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.45]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Fix swagger annotation
  apps/api/src/app/controllers/order.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.108]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: add order modal and create order
  apps/frontoffice/src/app/app.component.ts
  apps/frontoffice/src/app/app.module.ts
  apps/frontoffice/src/app/models/pet-order.interface.ts
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.ts
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.ts
  apps/frontoffice/src/app/services/catalog.service.spec.ts
  apps/frontoffice/src/app/services/catalog.service.ts
  apps/frontoffice/src/app/services/toast.service.spec.ts
  apps/frontoffice/src/app/services/toast.service.ts
  apps/frontoffice/src/app/shared/toast/toast.component.ts
Due: increment-version-frontoffice

Fix swagger annotation
  apps/api/src/app/entities/order.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.109]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: show toast if order was created
  apps/frontoffice/src/app/pet-page/pet-page.component.ts
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.46]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

implement orders list
  apps/backoffice/src/app/app-routing.module.ts
  apps/backoffice/src/app/layout/layout.component.html
  apps/backoffice/src/app/orders/containers/orders-list/orders-list.component.html
  apps/backoffice/src/app/orders/containers/orders-list/orders-list.component.scss
  apps/backoffice/src/app/orders/containers/orders-list/orders-list.component.ts
  apps/backoffice/src/app/orders/orders.module.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.97]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: fix styles
  apps/frontoffice/src/app/layout/header/header.component.html
  apps/frontoffice/src/app/layout/header/header.component.scss
  apps/frontoffice/src/app/pet-catalog/pet-card/pet-card.component.html
  apps/frontoffice/src/app/pet-catalog/pet-card/pet-card.component.scss
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/styles.scss
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.47]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Disable drop schema
  ormconfig.js
Due: none

feat: render base info in pet-cart
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.ts
  apps/frontoffice/src/app/services/catalog.service.ts
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.48]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

feat: add position-sticky to pet-order
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.scss
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.49]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

feat: add map to pet-card
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.scss
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.50]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Update README.md
  README.md
Due: none
