Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json

Add local to git ignore
  .gitignore
Due: none

[Increment version api api-release-v1.0.1]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.1]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.1]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Fix project name bug
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.2]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.2]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.2]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Fix api config offset
  deploy/api/templates/deployment.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.3]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.3]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.3]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add base layout and set default schematics and few components
  .prettierrc
  angular.json
  apps/backoffice/src/app/app-routing.module.ts
  apps/backoffice/src/app/app.component.html
  apps/backoffice/src/app/app.component.ts
  apps/backoffice/src/app/app.module.ts
  apps/backoffice/src/app/layout/layout.component.html
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/app/layout/layout.component.ts
  apps/backoffice/src/app/pet/pet-card/pet-card.component.html
  apps/backoffice/src/app/pet/pet-card/pet-card.component.scss
  apps/backoffice/src/app/pet/pet-card/pet-card.component.spec.ts
  apps/backoffice/src/app/pet/pet-card/pet-card.component.ts
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.scss
  apps/backoffice/src/app/pet/pet-list/pet-list.component.spec.ts
  apps/backoffice/src/app/pet/pet-list/pet-list.component.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/shelter/shelter-list/shelter-list.component.html
  apps/backoffice/src/app/shelter/shelter-list/shelter-list.component.scss
  apps/backoffice/src/app/shelter/shelter-list/shelter-list.component.ts
  apps/backoffice/src/app/shelter/shelter.module.ts
  apps/backoffice/src/index.html
  apps/backoffice/src/styles.scss
  package-lock.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.4]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.4]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.4]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Fix frontoffice and backoffice deploy config error
  deploy/backoffice/templates/deployment.yaml
  deploy/frontoffice/templates/deployment.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.5]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.5]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.5]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Add user entity
  apps/api/src/app/app.config.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.6]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix ci
  .gitlab-ci.yml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.7]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.6]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.6]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add docker-compose for local db
  docker-compose.yml
Due: none

fix docker-compose.yml
  docker-compose.yml
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.8]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.7]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.7]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

fix envs
  config/api/.development.env
  config/api/.local.env
Due: none

Add dictionaries
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/dictionaries/all.dictionaries.ts
  apps/api/src/app/entities/dictionaries/base.dictionary.entity.ts
  apps/api/src/app/entities/dictionaries/cat.breed.entity.ts
  apps/api/src/app/entities/dictionaries/cat.color.entity.ts
  apps/api/src/app/entities/dictionaries/cat.wool.entity.ts
  apps/api/src/app/entities/dictionaries/dog.breed.entity.ts
  apps/api/src/app/entities/dictionaries/dog.color.entity.ts
  apps/api/src/app/entities/dictionaries/dog.wool.entity.ts
  apps/api/src/app/entities/dictionaries/ears.entity.ts
  apps/api/src/app/entities/dictionaries/tails.entity.ts
  mock/cat-colors.json
  mock/cat-wool.json
  mock/cats.json
  mock/dog-colors.json
  mock/dog-wool.json
  mock/dogs.json
  mock/ears.json
  mock/parced-dataset.json
  mock/tails.json
Due: increment-version-api

[Increment version api api-release-v1.0.9]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add swagger spec
  apps/api/src/app/entities/dictionaries/base.dictionary.entity.ts
  apps/api/src/app/entities/dictionaries/cat.breed.entity.ts
  apps/api/src/app/entities/dictionaries/cat.color.entity.ts
  apps/api/src/app/entities/dictionaries/cat.wool.entity.ts
  apps/api/src/app/entities/dictionaries/dog.breed.entity.ts
  apps/api/src/app/entities/dictionaries/dog.color.entity.ts
  apps/api/src/app/entities/dictionaries/dog.wool.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.10]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Refactoring dictionaries
  apps/api/src/app/app.module.ts
  apps/api/src/app/controllers/dictionaries/all.dictionary.controllers.ts
  apps/api/src/app/controllers/dictionaries/breed.controller.ts
  apps/api/src/app/entities/dictionaries/all.dictionaries.ts
  apps/api/src/app/entities/dictionaries/breed.entity.ts
  apps/api/src/app/entities/dictionaries/cat.breed.entity.ts
  apps/api/src/app/entities/dictionaries/cat.color.entity.ts
  apps/api/src/app/entities/dictionaries/cat.wool.entity.ts
  apps/api/src/app/entities/dictionaries/color.entity.ts
  apps/api/src/app/entities/dictionaries/dog.breed.entity.ts
  apps/api/src/app/entities/dictionaries/dog.color.entity.ts
  apps/api/src/app/entities/dictionaries/dog.wool.entity.ts
  apps/api/src/app/entities/dictionaries/ear.entity.ts
  apps/api/src/app/entities/dictionaries/tail.entity.ts
  apps/api/src/app/entities/dictionaries/wool.entity.ts
  apps/api/src/app/services/dictionaries/all.dictionary.services.ts
  apps/api/src/app/services/dictionaries/breed.service.ts
  apps/api/src/app/services/dictionaries/color.service.ts
  apps/api/src/app/services/dictionaries/ears.service.ts
  apps/api/src/app/services/dictionaries/tails.service.ts
  apps/api/src/app/services/dictionaries/wool.service.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.11]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.8]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.8]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice
