Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json

feat: add dictionary manager to sidebar
  apps/backoffice/src/app/app-routing.module.ts
  apps/backoffice/src/app/layout/layout.component.html
Due: increment-version-backoffice

feat: add dictionary-manager store
  apps/backoffice/src/app/dictionary-manager/store/dictionary-state.model.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.actions.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.selectors.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.state.ts
Due: increment-version-backoffice

feat: add dictionary form
  apps/backoffice/src/app/dictionary-manager/dictionary-item/dictionary-item.component.html
  apps/backoffice/src/app/dictionary-manager/dictionary-item/dictionary-item.component.scss
  apps/backoffice/src/app/dictionary-manager/dictionary-item/dictionary-item.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/dictionary-item/dictionary-item.component.ts
  apps/backoffice/src/app/dictionary-manager/dictionary-list/dictionary-list.component.html
  apps/backoffice/src/app/dictionary-manager/dictionary-list/dictionary-list.component.scss
  apps/backoffice/src/app/dictionary-manager/dictionary-list/dictionary-list.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/dictionary-list/dictionary-list.component.ts
  apps/backoffice/src/app/dictionary-manager/dictionary-manager/dictionary-manager.component.html
  apps/backoffice/src/app/dictionary-manager/dictionary-manager/dictionary-manager.component.scss
  apps/backoffice/src/app/dictionary-manager/dictionary-manager/dictionary-manager.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/dictionary-manager/dictionary-manager.component.ts
  apps/backoffice/src/app/dictionary-manager/modal-dictionary-form/modal-dictionary-form.component.html
  apps/backoffice/src/app/dictionary-manager/modal-dictionary-form/modal-dictionary-form.component.scss
  apps/backoffice/src/app/dictionary-manager/modal-dictionary-form/modal-dictionary-form.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/modal-dictionary-form/modal-dictionary-form.component.ts
  apps/backoffice/src/app/dictionary-manager/services/dictionary-crud.service.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.58]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: add AddDictionary action
  apps/backoffice/src/app/dictionary-manager/dictionary-list/dictionary-list.component.ts
  apps/backoffice/src/app/dictionary-manager/services/dictionary-crud.service.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.actions.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.state.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.59]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Wip prefectures [skip ci]
  apps/api/src/app/normalisation/init-data.parser.ts
Due: increment-version-api

fix(dictionary): add cancelable request
  apps/backoffice/src/app/dictionary-manager/components/dictionary-item/dictionary-item.component.html
  apps/backoffice/src/app/dictionary-manager/components/dictionary-item/dictionary-item.component.scss
  apps/backoffice/src/app/dictionary-manager/components/dictionary-item/dictionary-item.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/components/dictionary-item/dictionary-item.component.ts
  apps/backoffice/src/app/dictionary-manager/components/modal-dictionary-form/modal-dictionary-form.component.html
  apps/backoffice/src/app/dictionary-manager/components/modal-dictionary-form/modal-dictionary-form.component.scss
  apps/backoffice/src/app/dictionary-manager/components/modal-dictionary-form/modal-dictionary-form.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/components/modal-dictionary-form/modal-dictionary-form.component.ts
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-list/dictionary-list.component.html
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-list/dictionary-list.component.scss
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-list/dictionary-list.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-list/dictionary-list.component.ts
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-manager/dictionary-manager.component.html
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-manager/dictionary-manager.component.scss
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-manager/dictionary-manager.component.spec.ts
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-manager/dictionary-manager.component.ts
  apps/backoffice/src/app/dictionary-manager/dictionary-list/dictionary-list.component.html
  apps/backoffice/src/app/dictionary-manager/dictionary-list/dictionary-list.component.scss
  apps/backoffice/src/app/dictionary-manager/dictionary-manager.module.ts
  apps/backoffice/src/app/dictionary-manager/dictionary-manager/dictionary-manager.component.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.state.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.60]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

fix(dictionary): add icon to list
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-manager/dictionary-manager.component.html
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-manager/dictionary-manager.component.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.61]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat(dictionary): add delete button to list
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-list/dictionary-list.component.html
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.62]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Wip parsing prefecture
  apps/api/src/app/normalisation/init-data.parser.ts
Due: increment-version-api

[Increment version api api-release-v1.0.78]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

implement authentication on fe
  apps/api/src/app/authentication/dto/sign-in-response.dto.ts
  apps/api/src/app/authentication/dto/tokens.dto.ts
  apps/api/src/app/authentication/dto/user-data-response.dto.ts
  apps/backoffice/src/app/app.component.ts
  apps/backoffice/src/app/app.module.ts
  apps/backoffice/src/app/auth/login/login.component.ts
  apps/backoffice/src/app/core/core.module.ts
  apps/backoffice/src/app/core/interceptors/access-token.interceptor.ts
  apps/backoffice/src/app/core/store/authentication/authentication.actions.ts
  apps/backoffice/src/app/core/store/authentication/authentication.interface.ts
  apps/backoffice/src/app/core/store/authentication/authentication.selectors.ts
  apps/backoffice/src/app/core/store/authentication/authentication.state.ts
  apps/backoffice/src/app/core/store/store.module.ts
  apps/backoffice/src/app/layout/layout.component.html
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/app/layout/layout.component.ts
  libs/types/src/lib/types.ts
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

feat(shelter): create shelter state and crud action
  apps/backoffice/src/app/dictionary-manager/store/dictionary.selectors.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.state.model.ts
  apps/backoffice/src/app/dictionary-manager/store/dictionary.state.ts
  apps/backoffice/src/app/shared/nest-crud.service.ts
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.html
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.scss
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.ts
  apps/backoffice/src/app/shelter/shelter.module.ts
  apps/backoffice/src/app/shelter/store/shelter.actions.ts
  apps/backoffice/src/app/shelter/store/shelter.selectors.ts
  apps/backoffice/src/app/shelter/store/shelter.state.model.ts
  apps/backoffice/src/app/shelter/store/shelter.state.ts
Due: increment-version-backoffice

[Increment version api api-release-v1.0.79]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.63]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.30]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

fix(shelter): rename state
  apps/backoffice/src/app/shelter/shelter.module.ts
  apps/backoffice/src/app/shelter/store/shelter.state.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.64]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

enable authentication on be
  apps/api/src/app/controllers/dictionaries/breed.controller.ts
  apps/api/src/app/controllers/dictionaries/color.controller.ts
  apps/api/src/app/controllers/dictionaries/ear.controller.ts
  apps/api/src/app/controllers/dictionaries/out-reason.controller.ts
  apps/api/src/app/controllers/dictionaries/tail.controller.ts
  apps/api/src/app/controllers/dictionaries/wool.controller.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/controllers/user.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.80]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat(shelter): render list in template
  apps/backoffice/src/app/dictionary-manager/store/dictionary.state.ts
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.html
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.ts
  apps/backoffice/src/app/shelter/store/shelter.actions.ts
  apps/backoffice/src/app/shelter/store/shelter.state.ts
Due: increment-version-backoffice

[Increment version api api-release-v1.0.81]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.65]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add subscribe
  apps/backoffice/src/app/auth/login/login.component.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.66]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Fix bad import
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.82]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.67]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.31]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

feat(form): done with form and create/update
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/app/pet/can-activate.guard.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.ts
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/pet/store/pets.actions.ts
  apps/backoffice/src/app/pet/store/pets.selectors.ts
  apps/backoffice/src/app/pet/store/pets.state.model.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
  apps/backoffice/src/app/shared/object-cleaner.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.68]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add mapping phone and name to shelters
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/migrations/initData/shelters.json
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
Due: increment-version-api

[Increment version api api-release-v1.0.83]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix trim bug
  apps/api/src/app/authentication/dto/user-data-response.dto.ts
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/prefecture.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/entities/user.entity.ts
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
  apps/api/src/app/migrations/data-set/exists-photos.ts
  apps/api/src/app/normalisation/init-data.parser.ts
Due: increment-version-api

[Increment version api api-release-v1.0.84]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api
