Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-backoffice:
  image: node:10
  stage: increment-version-backoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

increment-version-frontoffice:
  image: node:10
  stage: increment-version-frontoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-backoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=backoffice-$(cat apps/backoffice/version)
  ...

build-image-frontoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=frontoffice-$(cat apps/frontoffice/version)
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-backoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-frontoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

feat: fix shelter filtration
  apps/backoffice/src/app/pet/pet-filters/model/pet-filter.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/app/pet/pet-filters/services/filter-resolver.service.ts
  apps/backoffice/src/app/shared/dictionary.pipe.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version backoffice backoffice-release-v1.0.88]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.39]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add logo to auth page
  apps/backoffice/src/app/auth/login/login.component.html
  apps/backoffice/src/app/auth/login/login.component.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.89]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: fix problem
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.90]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

add prefecture dictionary
  apps/api/src/app/controllers/dictionaries/all.dictionary.controllers.ts
  apps/api/src/app/controllers/dictionaries/prefecture.controller.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/services/dictionaries/all.dictionary.services.ts
  apps/api/src/app/services/dictionaries/prefecture.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.101]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: add prefecture filter
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/app/pet/pet-filters/services/filter-resolver.service.ts
Due: increment-version-backoffice

feat: add header component to front-office
  apps/frontoffice/src/app/app.component.html
  apps/frontoffice/src/app/app.module.ts
  apps/frontoffice/src/app/layout/header/header.component.html
  apps/frontoffice/src/app/layout/header/header.component.scss
  apps/frontoffice/src/app/layout/header/header.component.spec.ts
  apps/frontoffice/src/app/layout/header/header.component.ts
  apps/frontoffice/src/environments/environment.ts
  apps/frontoffice/src/styles.scss
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.40]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Wip bugfix parsing data
  apps/api/src/app/entities/pet-registration-history.entity.ts
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
  docker-compose.dev.yml
  ormconfig.js
Due: increment-version-api

[Increment version api api-release-v1.0.102]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: add jumbotron to main page
  apps/frontoffice/src/app/app.component.html
  apps/frontoffice/src/app/layout/header/header.component.scss
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.html
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.41]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add department info to layout.component
  README.md
  apps/api/src/app/authentication/services/user.service.ts
  apps/backoffice/src/app/core/store/authentication/authentication.selectors.ts
  apps/backoffice/src/app/layout/layout.component.html
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/app/layout/layout.component.ts
Due: increment-version-api, increment-version-backoffice

[Increment version api api-release-v1.0.103]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.91]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

add user credential to README.md
  README.md
Due: none

fix: small changes layout for pet-page
  apps/frontoffice/src/app/app.module.ts
  apps/frontoffice/src/app/layout/header/header.component.html
  apps/frontoffice/src/app/pet-catalog/pet-card/pet-card.component.html
  apps/frontoffice/src/app/pet-catalog/pet-card/pet-card.component.scss
  apps/frontoffice/src/app/pet-catalog/pet-card/pet-card.component.spec.ts
  apps/frontoffice/src/app/pet-catalog/pet-card/pet-card.component.ts
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.scss
  apps/frontoffice/src/app/pet-page/pet-page.component.ts
  apps/frontoffice/src/assets/icons/create-pet-default.svg
  apps/frontoffice/src/assets/icons/default-pet-image.svg
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.42]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

feat: add fields in docx
  apps/backoffice/src/app/app.module.ts
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/report/report.service.ts
  apps/backoffice/src/app/report/templates/pet-card.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.92]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: fix error
  apps/backoffice/src/app/report/templates/pet-card.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.93]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: add ng-bootstrap
  apps/frontoffice/src/app/app.module.ts
  apps/frontoffice/src/app/pet-page/modal-pet-order/modal-pet-order.component.html
  apps/frontoffice/src/app/pet-page/modal-pet-order/modal-pet-order.component.scss
  apps/frontoffice/src/app/pet-page/modal-pet-order/modal-pet-order.component.spec.ts
  apps/frontoffice/src/app/pet-page/modal-pet-order/modal-pet-order.component.ts
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.ts
  apps/frontoffice/src/index.html
  apps/frontoffice/src/polyfills.ts
  apps/frontoffice/src/styles.scss
  package-lock.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

Fix parsing dates bugs
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
Due: increment-version-api

feat: add logo and title
  apps/frontoffice/src/favicon.ico
  apps/frontoffice/src/index.html
Due: increment-version-frontoffice

[Increment version api api-release-v1.0.104]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version api api-release-v1.0.105]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.94]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.43]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

small fixex in pet-form.component
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
Due: increment-version-backoffice

[Increment version frontoffice frontoffice-release-v1.0.44]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Add order entity and public controller
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/order.entity.ts
  apps/api/src/app/public-api/public-api.module.ts
  apps/api/src/app/public-api/public-order.controller.ts
  apps/api/src/app/services/all.services.ts
  apps/api/src/app/services/order.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.106]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: fix styles
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.scss
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.scss
  apps/backoffice/src/app/pet/store/pets.state.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.95]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add order, fix bugs
  apps/api/src/app/controllers/all.controllers.ts
  apps/api/src/app/controllers/order.controller.ts
  apps/api/src/app/entities/order.entity.ts
  apps/api/src/app/public-api/public-api.module.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json
