Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json

[Increment version backoffice backoffice-release-v1.0.15]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.14]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Remove drop schema
  ormconfig.js
Due: none

implement physical-person.entity.ts and include into pet
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/passport-Info.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/physical-person.entity.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.26]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.16]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

add pet filters module
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
Due: increment-version-backoffice

[Increment version frontoffice frontoffice-release-v1.0.15]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Add readme info about migration [skip ci]
  README.md
Due: none

Add additional fields migration
  README.md
  apps/api/src/app/migrations/1604125896983-additionalFields.ts
  apps/api/src/app/migrations/all.migrations.ts
Due: increment-version-api

[Increment version api api-release-v1.0.27]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add filter container
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.scss
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.spec.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.17]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Move and fix init dictionary values
  apps/api/src/app/migrations/initData/cat-colors.json
  apps/api/src/app/migrations/initData/cat-wool.json
  apps/api/src/app/migrations/initData/cats.json
  apps/api/src/app/migrations/initData/dog-colors.json
  apps/api/src/app/migrations/initData/dog-wool.json
  apps/api/src/app/migrations/initData/dogs.json
  apps/api/src/app/migrations/initData/ears.json
  apps/api/src/app/migrations/initData/tails.json
  mock/cats.json
Due: increment-version-api

[Increment version api api-release-v1.0.28]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add dictionary migration
  apps/api/src/app/migrations/1604126232650-initDictinaries.ts
  apps/api/src/app/migrations/all.migrations.ts
Due: increment-version-api

[Increment version api api-release-v1.0.29]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: crete FilterResolver
  apps/backoffice/src/app/pet/pet-filters/model/pet-filter.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
  apps/backoffice/src/app/pet/pet-filters/services/filter-resolver.service.ts
Due: increment-version-backoffice

add filters
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet.module.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.18]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version backoffice backoffice-release-v1.0.19]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add dictionaries
  apps/api/src/app/entities/dictionaries/all.dictionaries.ts
  apps/api/src/app/entities/dictionaries/death-reason.entity.ts
  apps/api/src/app/entities/dictionaries/euthanasia_reason.entity.ts
  apps/api/src/app/entities/dictionaries/leaving-shelter-reason.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.30]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

improve models
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/catch-information.entity.ts
  apps/api/src/app/entities/dictionaries/all.dictionaries.ts
  apps/api/src/app/entities/dictionaries/breed.entity.ts
  apps/api/src/app/entities/dictionaries/color.entity.ts
  apps/api/src/app/entities/dictionaries/ear.entity.ts
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
  apps/api/src/app/entities/dictionaries/tail.entity.ts
  apps/api/src/app/entities/dictionaries/wool.entity.ts
  apps/api/src/app/entities/pet-registration-history.entity.ts
  apps/api/src/app/entities/pet-responsible-organisation.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/migrations/all.migrations.ts
  libs/types/src/lib/types.ts
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.31]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.20]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.16]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add filters parser
  apps/backoffice/src/app/pet/pet-filters/model/pet-filter.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters.module.ts
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/filter-resolver.service.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.21]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

fix migrations
  apps/api/src/app/entities/dictionaries/death-reason.entity.ts
  apps/api/src/app/entities/dictionaries/euthanasia_reason.entity.ts
  apps/api/src/app/entities/dictionaries/leaving-shelter-reason.entity.ts
  apps/api/src/app/migrations/1604125399018-initMigration.ts
  apps/api/src/app/migrations/1604125896983-additionalFields.ts
  apps/api/src/app/migrations/all.migrations.ts
  ormconfig.js
Due: increment-version-api

[Increment version api api-release-v1.0.32]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add swagger annotation
  apps/api/src/app/entities/pet.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.33]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add swagger annotation
  apps/api/src/app/entities/base.entity.ts
  apps/api/src/app/entities/catch-information.entity.ts
  apps/api/src/app/entities/organization.entity.ts
  apps/api/src/app/entities/passport-Info.entity.ts
  apps/api/src/app/entities/pet-registration-history.entity.ts
  apps/api/src/app/entities/pet-responsible-organisation.entity.ts
  apps/api/src/app/entities/physical-person.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/entities/trustee.entity.ts
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.34]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: add store module
  angular.json
  apps/backoffice/src/app/app.module.ts
  apps/backoffice/src/app/core/core.module.ts
  apps/backoffice/src/app/core/store/common.state.ts
  apps/backoffice/src/app/core/store/layout/layout-state.interface.ts
  apps/backoffice/src/app/core/store/layout/layout.actions.ts
  apps/backoffice/src/app/core/store/layout/layout.selectors.ts
  apps/backoffice/src/app/core/store/layout/layout.state.ts
  apps/backoffice/src/app/core/store/store.module.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.35]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.22]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.17]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

WIP import dataset [skip ci]
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
  apps/api/src/app/migrations/data-set/parced-dataset.json
  mock/tails.json
Due: increment-version-api
