Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json

Fix type
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.78]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add info to readme
  README.md
Due: none

Add info about technologies
  README.md
Due: none

Add logins, disable drop schema on restart
  README.md
  ormconfig.js
Due: none

Prepare project for easy up
  README.md
  angular.json
  apps/backoffice/src/environments/environment.local.ts
  apps/frontoffice/src/environments/environment.local.ts
  deploy/api/Dockerfile.local
  deploy/backoffice/Dockerfile.local
  deploy/frontoffice/Dockerfile.local
  docker-compose.dev.yml
  docker-compose.yml
  mock/parced-dataset.json
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.94]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.79]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.36]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Prepare project for easy up
  apps/api/src/app/controllers/shelter.controller.ts
  config/api/.development.env
  docker-compose.yml
Due: increment-version-api

[Increment version api api-release-v1.0.95]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix env
  config/api/.development.env
Due: none

Add readme, fix dockerfile
  README.md
  apps/frontoffice/src/app/pet-card/pet-card.component.html
  docker-compose.yml
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.37]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

feat(pet-form): add shelter selector
  apps/backoffice/src/app/core/store/store.module.ts
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.ts
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.html
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.ts
  apps/backoffice/src/app/shelter/shelter.module.ts
  apps/backoffice/src/app/shelter/store/shelter.state.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.96]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.80]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.38]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add error notifications and improve readme
  README.md
  apps/api/src/app/controllers/shelter.controller.ts
  apps/backoffice/src/app/app-routing.module.ts
  apps/backoffice/src/app/app.component.ts
  apps/backoffice/src/app/app.module.ts
  apps/backoffice/src/app/core/interceptors/access-token.interceptor.ts
  apps/backoffice/src/app/shelter/shelter.module.ts
Due: increment-version-api, increment-version-backoffice

feat(pet-form): add link to mos.ru
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.81]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat(filters): fix styles
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.82]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat(form): fix label
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.83]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Fix dorinvest
  apps/api/src/app/migrations/data-set/parced-dataset.json
Due: increment-version-api

[Increment version api api-release-v1.0.97]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

fix routing
  apps/backoffice/src/app/app-routing.module.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.84]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: fix filters
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.html
  apps/backoffice/src/app/pet/pet-filters/pet-filters/pet-filters.component.ts
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.85]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

fix out reason
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/controllers/shelter.controller.ts
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
  apps/api/src/app/entities/pet-registration-history.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.98]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat(dictionary): add "king" to table
  apps/backoffice/src/app/dictionary-manager/containers/dictionary-list/dictionary-list.component.html
  apps/backoffice/src/app/dictionary-manager/dictionary-manager.module.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/shared/dictionary/dictionary.pipe.ts
  apps/backoffice/src/app/shared/dictionary/humanized.pipe.ts
Due: increment-version-backoffice

fix redirect to auth
  apps/api/src/main.ts
  apps/backoffice/src/app/core/store/authentication/authentication.state.ts
Due: increment-version-api, increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.86]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version api api-release-v1.0.99]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.87]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add pet download wold button
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.ts
  apps/backoffice/src/app/report/report.service.ts
  apps/backoffice/src/app/report/templates/pet-card.ts
  package.json
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.100]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api
