Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-backoffice:
  image: node:10
  stage: increment-version-backoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

increment-version-frontoffice:
  image: node:10
  stage: increment-version-frontoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-backoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=backoffice-$(cat apps/backoffice/version)
  ...

build-image-frontoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=frontoffice-$(cat apps/frontoffice/version)
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-backoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-frontoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

feat: add ChangePage action
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/pet/store/pets.actions.ts
  apps/backoffice/src/app/pet/store/pets.selectors.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.45]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

change roles and relations
  apps/api/src/app/authentication/guards/access-token.guard.ts
  apps/api/src/app/common/decorators/method-decorators/roles.decorator.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/pet-responsible-organisation.entity.ts
  apps/api/src/app/entities/prefecture.entity.ts
  apps/api/src/app/entities/shelter.entity.ts
  apps/api/src/app/entities/user.entity.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.54]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.46]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.26]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

add pet form =(
  apps/backoffice/src/app/pet/pet-card/pet-card.component.html
  apps/backoffice/src/app/pet/pet-card/pet-card.component.scss
  apps/backoffice/src/app/pet/pet-card/pet-card.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/pet/store/pets.selectors.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
  apps/backoffice/src/styles.scss
Due: increment-version-backoffice

feat: add socializated status to table
  apps/backoffice/src/app/pet/pet-list/columns/attribute-status/attribute-status.component.html
  apps/backoffice/src/app/pet/pet-list/columns/attribute-status/attribute-status.component.scss
  apps/backoffice/src/app/pet/pet-list/columns/attribute-status/attribute-status.component.ts
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.scss
  apps/backoffice/src/app/pet/pet-list/pet-list.component.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/styles.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.47]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat: add photo status to pet-list
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.48]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

WIP fix parsing
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

[Increment version api api-release-v1.0.55]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: add empty state to pet-list
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.49]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

fix auth
  apps/api/src/app/authentication/dto/user-data-response.dto.ts
  apps/api/src/app/authentication/services/user.service.ts
  apps/api/src/app/authentication/strategies/access-token.strategy.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.56]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

fix build
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.57]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.50]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.27]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Add health checks parsing
  apps/api/src/app/entities/health-status.entity.ts
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

[Increment version api api-release-v1.0.58]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add owners info
  apps/backoffice/src/app/pet/pet-card/pet-card.component.html
  apps/backoffice/src/app/pet/pet-card/pet-card.component.scss
  apps/backoffice/src/app/pet/pet-card/pet-card.component.ts
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/app/pet/pet.module.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.59]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.51]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.28]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

feat: add loading state to pet-list
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.scss
  apps/backoffice/src/app/pet/pet-list/pet-list.component.ts
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/pet/store/pets.selectors.ts
  apps/backoffice/src/app/pet/store/pets.state.model.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
Due: increment-version-backoffice

fix: change layout for pet-list
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/store/pets.state.ts
Due: increment-version-backoffice

Fix migration
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

[Increment version api api-release-v1.0.60]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.52]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

fix models
  apps/api/src/app/entities/pet-responsible-organisation.entity.ts
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.61]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix nullables
  apps/api/src/app/entities/catch-information.entity.ts
  apps/api/src/app/entities/pet-registration-history.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.62]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix nullables
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.63]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: humanized dictionary values in pet-list
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet.module.ts
  apps/backoffice/src/app/pet/pipes/humanized.pipe.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.53]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json
