Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-backoffice:
  image: node:10
  stage: increment-version-backoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

increment-version-frontoffice:
  image: node:10
  stage: increment-version-frontoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-backoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=backoffice-$(cat apps/backoffice/version)
  ...

build-image-frontoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=frontoffice-$(cat apps/frontoffice/version)
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-backoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-frontoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

feat(form): fix styles and add table for shelters
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/app/pet/pet-list/pet-list.component.html
  apps/backoffice/src/app/pet/pet-list/pet-list.component.scss
  apps/backoffice/src/app/pet/pet-list/pet-list.component.ts
  apps/backoffice/src/app/pet/store/pets.actions.ts
  apps/backoffice/src/app/pet/store/pets.state.ts
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.html
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.scss
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.ts
  apps/backoffice/src/app/shelter/shelter.module.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.69]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add department user
  apps/api/src/app/normalisation/init-data.parser.ts
Due: increment-version-api

[Increment version api api-release-v1.0.85]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat(form): add name and phone for shalters
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.html
  apps/backoffice/src/app/shelter/containers/shelter-list/shelter-list.component.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.70]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Fix out reason url
  apps/api/src/app/controllers/dictionaries/out-reason.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.86]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat(form): fix problem with 401
  apps/backoffice/src/app/app-routing.module.ts
  apps/backoffice/src/app/app.component.ts
  apps/backoffice/src/app/core/can-activate-child-guard.service.ts
  apps/backoffice/src/app/core/interceptors/access-token.interceptor.ts
  apps/backoffice/src/app/core/store/authentication/authentication.state.ts
  apps/backoffice/src/app/layout/layout.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.ts
  apps/backoffice/src/app/pet/pipes/humanized.pipe.ts
  apps/backoffice/src/app/shared/object-cleaner.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.71]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat(form): small fix with main layout
  apps/backoffice/src/app/layout/layout.component.scss
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.72]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat(form): add out-reasons
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.73]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

feat(form): add cancelation
  apps/backoffice/src/app/pet/store/pets.state.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.74]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Complete parse parasites
  apps/api/src/app/migrations/data-set/parced-dataset.json
  apps/api/src/app/migrations/initData/shelters.json
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
Due: increment-version-api

[Increment version api api-release-v1.0.87]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Parse vactines and parasites
  apps/api/src/app/migrations/data-set/parced-dataset.json
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
Due: increment-version-api

[Increment version api api-release-v1.0.88]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat(form): ad favicon and title
  apps/backoffice/src/app/layout/layout.component.html
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/favicon.ico
  apps/backoffice/src/index.html
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.75]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Add filling prefecture to shelter
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
Due: increment-version-api

[Increment version api api-release-v1.0.89]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Map new owners
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/organisation.entity.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/physical-person.entity.ts
  apps/api/src/app/entities/trustee.entity.ts
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.90]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.76]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.32]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Minor refactoring, add public api
  apps/api/src/app/app.module.ts
  apps/api/src/app/entities/pet.entity.ts
  apps/api/src/app/entities/user.entity.ts
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/public-api/public-api.module.ts
  apps/api/src/app/public-api/public-pet.controller.ts
  apps/api/src/main.ts
Due: increment-version-api

[Increment version api api-release-v1.0.91]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix relation bug, fix public api
  apps/api/src/app/entities/health-status.entity.ts
  apps/api/src/app/public-api/public-pet.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.92]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add front office skeleton
  apps/frontoffice/src/app/app.component.html
  apps/frontoffice/src/app/app.component.scss
  apps/frontoffice/src/app/app.component.ts
  apps/frontoffice/src/app/app.module.ts
  apps/frontoffice/src/app/catalog.service.spec.ts
  apps/frontoffice/src/app/catalog.service.ts
  apps/frontoffice/src/app/pet-card/pet-card.component.html
  apps/frontoffice/src/app/pet-card/pet-card.component.scss
  apps/frontoffice/src/app/pet-card/pet-card.component.spec.ts
  apps/frontoffice/src/app/pet-card/pet-card.component.ts
  apps/frontoffice/src/environments/environment.prod.ts
  apps/frontoffice/src/environments/environment.ts
  apps/frontoffice/src/index.html
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

[Increment version api api-release-v1.0.93]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.77]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.33]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Add public catalog routing and pet page
  apps/frontoffice/src/app/app.component.html
  apps/frontoffice/src/app/app.component.ts
  apps/frontoffice/src/app/app.module.ts
  apps/frontoffice/src/app/catalog.service.ts
  apps/frontoffice/src/app/pet-card/pet-card.component.html
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.html
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.scss
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.spec.ts
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.ts
  apps/frontoffice/src/app/pet-page/pet-page.component.html
  apps/frontoffice/src/app/pet-page/pet-page.component.scss
  apps/frontoffice/src/app/pet-page/pet-page.component.spec.ts
  apps/frontoffice/src/app/pet-page/pet-page.component.ts
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.34]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Fix bug
  apps/frontoffice/src/app/pet-catalog/pet-catalog.component.ts
  apps/frontoffice/src/app/pet-page/pet-page.component.ts
Due: increment-version-frontoffice

[Increment version frontoffice frontoffice-release-v1.0.35]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json
