Repository meteora-pro/pet-hackaton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, build-image-backoffice, build-image-frontoffice, deploy-on-staging-api, deploy-on-staging-backoffice, deploy-on-staging-frontoffice

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-backoffice:
  image: node:10
  stage: increment-version-backoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

increment-version-frontoffice:
  image: node:10
  stage: increment-version-frontoffice
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-backoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=backoffice-$(cat apps/backoffice/version)
  ...

build-image-frontoffice:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=frontoffice-$(cat apps/frontoffice/version)
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-backoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-staging-frontoffice:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

feat: add apiUrl
  apps/backoffice/src/app/pet/pet-filters/services/dictionary.service.ts
  apps/backoffice/src/environments/environment.prod.ts
  apps/backoffice/src/environments/environment.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.54]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

enable cors
  apps/api/src/main.ts
Due: increment-version-api

[Increment version api api-release-v1.0.64]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add dictinaries to other scheme
  apps/api/src/app/entities/dictionaries/breed.entity.ts
  apps/api/src/app/entities/dictionaries/color.entity.ts
  apps/api/src/app/entities/dictionaries/ear.entity.ts
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
  apps/api/src/app/entities/dictionaries/tail.entity.ts
  apps/api/src/app/entities/dictionaries/wool.entity.ts
  apps/api/src/app/normalisation/dictionary.parsing.ts
Due: increment-version-api

[Increment version api api-release-v1.0.65]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add allowed sheltet
  apps/api/src/app/authentication/authentication.module.ts
  apps/api/src/app/authentication/dto/user-data-response.dto.ts
  apps/api/src/app/authentication/services/user.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.66]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Remove schema
  apps/api/src/app/entities/dictionaries/breed.entity.ts
  apps/api/src/app/entities/dictionaries/color.entity.ts
  apps/api/src/app/entities/dictionaries/ear.entity.ts
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
  apps/api/src/app/entities/dictionaries/tail.entity.ts
  apps/api/src/app/entities/dictionaries/wool.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.67]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add user data
  apps/api/src/app/authentication/authentication.module.ts
  apps/api/src/app/authentication/dto/sign-in-request.dto.ts
  apps/api/src/app/authentication/dto/sign-up-request.dto.ts
  apps/api/src/app/authentication/dto/user-data-response.dto.ts
  apps/api/src/app/authentication/services/local-sign.service.ts
  apps/api/src/app/authentication/services/user.service.ts
  apps/api/src/app/authentication/validators/user-not-found-validator.service.ts
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/entities/all.entities.ts
  apps/api/src/app/entities/refresh-token.entity.ts
  apps/api/src/app/entities/user.entity.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice

Recreate schema
  ormconfig.js
Due: none

[Increment version api api-release-v1.0.68]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

[Increment version backoffice backoffice-release-v1.0.55]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

[Increment version frontoffice frontoffice-release-v1.0.29]
  apps/frontoffice/package.json
  apps/frontoffice/version
  deploy/frontoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-frontoffice, deploy-on-staging-frontoffice

enable pet
  apps/api/src/app/controllers/pet.controller.ts
Due: increment-version-api

[Increment version api api-release-v1.0.69]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Remove bcrypt
  apps/api/src/app/authentication/services/local-sign.service.ts
  apps/api/src/app/entities/user.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.70]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

add generate user passwords and logins
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

[Increment version api api-release-v1.0.71]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat(styles): beautiful now
  apps/backoffice/src/app/layout/layout.component.scss
  apps/backoffice/src/app/pet/pet-card/pet-card.component.html
  apps/backoffice/src/app/pet/pet-card/pet-card.component.scss
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.scss
  apps/backoffice/src/app/pet/pet-form/pet-form.component.spec.ts
  apps/backoffice/src/app/pet/pet-form/pet-form.component.ts
  apps/backoffice/src/app/pet/pet.module.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.56]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

Fix circular imports
  apps/api/src/app/authentication/services/hash-password.utils.ts
  apps/api/src/app/authentication/services/local-sign.service.ts
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

[Increment version api api-release-v1.0.72]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add out reason controller and service
  apps/api/src/app/controllers/dictionaries/all.dictionary.controllers.ts
  apps/api/src/app/controllers/dictionaries/out-reason.controller.ts
  apps/api/src/app/services/dictionaries/all.dictionary.services.ts
  apps/api/src/app/services/dictionaries/out-reason.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.73]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Fix out reason parsing bug
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

disable sql logging
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
  ormconfig.js
Due: increment-version-api

feat(form): done with form
  apps/backoffice/src/app/pet/pet-form/pet-form.component.html
  apps/backoffice/src/app/pet/pet-form/pet-form.component.ts
Due: increment-version-backoffice

[Increment version backoffice backoffice-release-v1.0.57]
  apps/backoffice/package.json
  apps/backoffice/version
  deploy/backoffice/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-backoffice, deploy-on-staging-backoffice

improve pet request
  apps/api/src/app/authentication/services/user.service.ts
  apps/api/src/app/controllers/pet.controller.ts
  ormconfig.js
Due: increment-version-api

[Increment version api api-release-v1.0.74]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Add filling
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
Due: increment-version-api

[Increment version api api-release-v1.0.75]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

Minor refactoring
  apps/api/src/app/migrations/1604131358759-importDataSet.ts
  apps/api/src/app/normalisation/dictionary.parsing.ts
  apps/api/src/app/normalisation/init-data.parser.ts
  apps/api/src/app/normalisation/parsing.helpers.ts
Due: increment-version-api

[Increment version api api-release-v1.0.76]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

temp disable roles access
  apps/api/src/app/controllers/pet.controller.ts
  apps/api/src/app/controllers/shelter.controller.ts
  apps/api/src/app/entities/dictionaries/out-reason.entity.ts
Due: increment-version-api

[Increment version api api-release-v1.0.77]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-backoffice, increment-version-frontoffice, build-image-api, deploy-on-staging-api

feat: add dictionary module
  apps/backoffice/src/app/dictionary-manager/dictionary-manager.module.ts
Due: increment-version-backoffice

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-backoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/backoffice/**/*
  increment-version-frontoffice: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontoffice/**/*
  build-image-api: any of: apps/api/package.json
  build-image-backoffice: any of: apps/backoffice/package.json
  build-image-frontoffice: any of: apps/frontoffice/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-staging-backoffice: any of: apps/backoffice/package.json
  deploy-on-staging-frontoffice: any of: apps/frontoffice/package.json
